@import "./variables";
@import "./mixins";
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');

// Getting rid of default styling on all elements
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// Responsive media queries
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }

  // Hero background for main welcome page
#main-page {
    background-image: url(../../images/snow-mountain-2380x1600.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    min-height: 812px;
}
main#welcome-main {
    min-height: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    h1 {
        font-family: Zilla Slab Highlight;
        color: white;
        margin: 25px;
        font-size: 35px;
    }
    div.fullstack-container {
        align-self: flex-end;
        margin: 25px 20px;
    }
        h2 {
            background-color: #7D9BA7;
            color: white;
            font-size: 25px;
            padding: 3px;
            margin-right: 42px;
        }
        h3 {
            color: #7D9BA7;
            margin-left: 120px;
            font-size: 20px;
        }
    }
    a {
        align-self: center;
        display: block;
        background-color: $deep-ocean;
        width: 140px;
        height: 35px;
        border-radius: 5px;
        font-size: 25px;
        font-family: monospace;
        text-align: center;
        border-bottom: 2px solid #555;
        padding: 8px 16px;
        &:link {
            color: white;
            text-decoration: none;
        }
        &:visited {
            color: white;
            text-decoration: none;
        }
        &:hover {
            width: 150px;
            height: 50px;
            background-color: $menu-button;
            color: black;
            transition: 0.25s;
            font-size: 30px;
        }
        &:active {
            background-color: black;
            color: white;
            transition: none;
        }
    }
  
  @media only screen and (min-width: 600px) {
    // larger than 601px - 768px
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    #main-section {min-height: 904px;}
  }
  
  @media only screen and (min-width: 769px) {
    // Anything beyond 768px
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    #main-section {min-height: 1087px;}
  }