@import "./variables";
@import "./mixins";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

// Getting rid of default styling on all elements
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Responsive media queries
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }

//   Blog Section

section.blog {
    margin: 50px 10px 50px 10px;
    color: white;
    h1 {@include heading1-text;}
    .blog-content {
        margin: 0;
        .blog-container {
            width: 100%;
            max-height: 545px;
            margin-top: 50px;
            img {
                width: 100%;
                margin-top: 25px;
            }
            h2 {
                @include heading2-text;
                text-align: left;
                color: white;
                font-size: 1.5em;
                line-height: 1.6em;
            }
            h3 {
                margin-top: 25px;
                font-family:'Courier New', Courier, monospace;
                font-size: 1.1em;
            }
            .blog-text {
                overflow: auto;
                height: 100px;
                p {
                    margin-top: 25px;
                    font-size: 1.3em;
                }
            }
            .link {
                width: 135px;
                height: 35px;
                background-color: white;
                border-radius: 5px;
                margin: 20px auto 0px auto;
                a {
                    text-decoration: none;
                    display:inline-block;
                    color: black;
                    font-size: 1.5em;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    padding: 3px 0px;
                }
            }
        }
    }
}



  @media only screen and (min-width: 600px) {
    // larger than 601px - 768px
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    #main-section {min-height: 904px;}
    section.blog {
        h1 {font-size: 2.8em;}
        .blog-content {
            .blog-container {
                width: 100%;
                max-height: 850px;
                margin: 120px auto;
                clear: both;
                .blog-title {
                    width: 100%;
                    display: flex;
                    img {
                        margin: 0px 20px 0px 0px;
                        width: 58.33%;
                        h2 {
                            font-size: 2.2em;
                            margin-top: 0px;
                        }
                    }
                }
                h3 {font-size: 1.6em;}
                .blog-text {
                    height: 150px;
                    p {
                        font-size: 1.6em;
                    }
                }
                .link {
                    width: 170px;
                    height: 40px;
                    a {
                        font-size: 1.8em;
                    }
                }
            }
        }
    }
  }
  
  @media only screen and (min-width: 769px) {
    // Anything beyond 768px
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    #main-section {min-height: 1087px;}
    section.blog {
        .flex-blog {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .blog-content {
                width: 41.66%;
                .cold-showers {align-self: flex-start;}
                .blog-container {
                    width: 100%;
                    margin: 50px 0px 10px 0px;
                    padding: 20px;
                    min-height: 420px;
                    .blog-title {
                        h2 {
                            font-size: 1.2em;
                            margin-top: -8px;
                        }
                    }
                    h3 {
                        font-size: 1.1em;
                        margin-bottom: 3px;
                    }
                    .blog-text {
                        height: 120px;
                        p {font-size: 0.9em;}
                    }
                    .link {
                        width: 100px;
                        height: 27px;
                        a {
                            font-size: 1.1em;
                        }
                    }
                }
            }
        }
    }
    .cold-showers {
        align-self: flex-start;
    }
  }