@import "./variables";
@import "./mixins";
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');

// Getting rid of default styling on all elements
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// Responsive media queries
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }

    // Background for All Pages (except home/welcome page)
    main#other-pages {
        margin-top: 50px;
        margin-bottom: 57px;
        padding: 18px;
        min-height: 100vh;
        background-color: #0C536E;
        }

    // Hero background for main welcome page
    body#main-page {
        // Please note that the file path was ../../images/snow-mountain-2380x1600.jpg before (which was working), but before submission, it somehow wasn't deteting the image file and putting only one ../ somehow fixed it. If the website or live server is not displaying the background image of a snowy mountain on the welcome page, please add another ../ to the file path.
        background-image: url(../images/snow-mountain-2380x1600.jpg);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        }
        // Contents of welcome page that introduces me briefly, and invites the target audience to explore more of myself by clicking a button.
        #welcome-main {
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            h1 {
                font-family: Zilla Slab Highlight;
                color: white;
                margin: 25px;
                font-size: 25px;
            }
            div.fullstack-container {
                align-self: flex-end;
                position: relative;
                bottom: 120px;
                width: 270px;
                right: 70px;
                display: flex;
                flex-direction: column;
            }
                h2 {
                    background-color: #7D9BA7;
                    color: white;
                    font-size: 18px;
                    text-align: center;
                    padding: 5px 10px;
                    width: 200px;
                    position: relative;
                    display: inline-block;
                }
                h3 {
                    color: #7D9BA7;
                    background-color: black;
                    font-size: 18px;
                    text-align: center;
                    padding: 5px 10px;
                    width: 200px;
                    position: relative;
                    display: inline-block;
                    align-self: flex-end;
                }

        // Clickable explore button
        }
        #explore {
            align-self: center;
            display: block;
            background-color: white;
            width: 140px;
            height: 39px;
            border-radius: 5px;
            font-size: 17px;
            font-family: monospace;
            text-align: center;
            border-bottom: 2px solid black;
            border-right: 2px solid black;
            padding: 8px 16px;
            &:link {
                color: black;
                text-decoration: none;
            }
            &:visited {
                color: black;
                text-decoration: none;
            }
            &:hover {
                background-color: black;
                color: white;
                transition: 0.25s;
                border-bottom: 2px solid white;
                border-right: 2px solid white;
            }
            &:active {
                background-color: black;
                color: white;
                transition: none;
            }
        }
  
  @media only screen and (min-width: 600px) {
    // larger than 601px - 768px
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    main#welcome-main {
        h1 {font-size: 3em;}
        .fullstack-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 500px;
            h2 {
                font-size: 1.8em;
                width: 300px;
                margin: 0;
            }
            h3 {
                font-size: 1.8em;
                width: 410px;
                margin: 0;
            }
        }
        #explore {
            font-size: 2.7em;
            width: 7.4em;
            height: 1.8em;
        }
    }
  }
  
  @media only screen and (min-width: 769px) {
    // Anything beyond 768px
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    main#welcome-main {
        min-height: 667px;
        h1 {font-size: 2.2em;}
        h2 {
            font-size: 1.7em;
            width: 193px;
        }
        h3 {
            font-size: 1.7em;
            padding: 3px 19px;
        }
        #explore {
            font-size: 1.4em;
            width: 7.7em;
            height: 2.1em;
        }
    }
  }