@import "./variables";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

// Getting rid of default styling on all elements
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Responsive media queries
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }

  // For All Pages (except home page)
  main#other-pages {
    margin-top: 50px;
    margin-bottom: 57px;
    padding: 18px;
    min-height: 100vh;
    background-color: #0C536E;
  }
  
  //   Links Section
  section#links {
      color: black;
      min-height: 100vh;
      padding: 40px;
      img {
            width: 180px;
            height: 180px;
            &:hover {
                width: 200px;
                height: 200px;
                transition: 0.5s ease-out;
            }
      }
      h1 {
          color: white;
          text-align: center;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 29px;
          font-family: Fjalla One, Arial, sans-serif;
          margin: 0px 0px 50px 0px;
          padding: 0px 0px 10px 0px;
          border-bottom: 5px solid black;
          text-shadow: 5px 5px black;
      }
      .link-section {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          .link-container {
              height: 250px;
              width: 200px;
              margin: 20px 20px;
              display: flex;
              flex-wrap: wrap;
              flex-direction: row;
              justify-content: center;
              h2 {
                  font-family: 'Courier New', Courier, monospace;
                  color: #BAD2D5;
              }
          }
      }
  }


  @media only screen and (min-width: 600px) {
    // larger than 601px - 768px
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    #main-section {min-height: 904px;}
  }
  
  @media only screen and (min-width: 769px) {
    // Anything beyond 768px
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    #main-section {min-height: 1087px;}
  }