// I rarely used variables as I was a bit conflicted with my choice of colouring, but saved it here to quickly access the colour hex codes instead of going back to my balsamiq wireframe file.
// header variables
$header-text: #0C536E;

// navigation variables
$offwhite-color: #E5EEEF;
$menu-bar: #BAD2D5;
$menu-button: #7D9BA7;
$deep-ocean: #0C536E;
$drop-button: #474f52;